body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    /* set the height of the map to 100% of the available space */
    height: 90%;
    width: 100%;
    /* position the map at the bottom of the page */
    position: fixed;
    margin-top: 10px;
    z-index: 0;
}

/*:root {*/
/*    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    .map-tiles {*/
/*        filter:var(--map-tiles-filter, none);*/
/*    }*/
/*}*/


.form {
    margin-top: 10px;
    bottom: 0;
    height: 50px;
    margin-bottom: 10px;
    z-index: 2;
}

.page-footer {
    height: 50px;
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.autocomplete-items {
    position: absolute;
    z-index: 9999;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #fff;
    color: #000000;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #cecdcd;
    cursor: pointer;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.btn-floating i {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px; /* adjust this value to vertically center the icon */
}

.btn-floating i.fa-download {
    font-size: 24px; /* adjust this value to change the size of the icon */
}

.btn-floating {
    width: 48px; /* adjust this value to change the size of the circle */
    height: 48px; /* adjust this value to change the size of the circle */
    position: absolute;
    bottom: 80px;
    right: 80px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#clear-button {
    position: absolute;
    bottom: 80px;
    right: 20px;
}

.notie-alert {
    z-index: 9999;
}

a {
    font-family: 'Montserrat', sans-serif; /* Change the font family */
    text-decoration: none; /* Remove the underline */
    color: #eeeeee; /* Set the text color */
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ffffff;
}


.leaflet-control-color-scale {
    display: block;
    background: none;
    box-shadow: none;
    border-width: 0px;
    margin-right: 10px;
    width: 360px;
    height: 27px;
}

.leaflet-control-color-scale-line {
    background-image: none;
    position: relative;
    border-width: 0px;
    margin: 0px;
}

.scale-details {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin: 0 5px;
}

.scale-details div {
    display: inline-block;
    vertical-align: middle;
}

.scale-details .scale-gradient {
    display: inline-block;
    width: 260px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.scale-details .scale-gradient .scale-dividers {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.scale-details .scale-gradient .scale-dividers div {
    font-size: 10px;
    color: #000;
    text-align: center;
    width: 30px;
    margin: 0;
}

.scale-details .scale-gradient .horizontal-gradient-line {
    width: 100%;
    height: 10px;
}

.leaflet-tooltip {
    visibility: visible;
}





