{{template "top" .}}
    <div class="container mt-5">
        <h1>About Me</h1>
        <p>This web app was built by CaptV89 with the help of ChatGPT, a powerful chatbot powered by OpenAI.</p>
    </div>
{{template "bottom" .}}

